@charset "UTF-8";
/* CSS Document */

.signInFieldInput {
    display: block;
    width: 46%;
    margin-right: 4%;
    float:left;
    position: relative;
}

.acc {
/*    display: block;*/
    width: 46%;
    margin-right: 4%;
    position: relative;
    text-align: right;
}
.signInFieldLabel {
    display: block;
    width: 50%;
    float:left;
    position: relative;
    text-align: right;
    padding-right: 2em;
    font-weight: bold;
}

.checkboxFieldLabel {
    display: block;
    width: 50%;
    float:left;
    position: relative;
    text-align: right;
    padding-right: 2em;
    margin-bottom: 3%;
}

.checkboxFieldInput {
    display: i;
    width: 4%;
    margin-right: 45%;
    float:right;
    position: relative;
    text-align: center;
    margin-bottom: 3%;
}

/*.submitFieldLabel {
    display: block;
    width: 50%;
    float:left;
    position: relative;
    text-align: right;
    padding-right: 2em;
    font-weight: bold;
}*/

/*.submitFieldInput {
    display: block;
    width: 46%;
    margin-right: 4%;
    float:left;
    position: relative;
}*/

.submit {
    text-align: center;
    float: none;
    background-color: #003366;
}

.submit1 {
    text-align: center;
    float: none;
    background-color: #003366;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* =============================================================================
   Chrome Frame Prompt - DON'T CHANGE THIS
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background-color: #003366;
    color: black;
    padding: 0.2em 0;
    font-size: 16pt;
    }

/* =============================================================================
   Page Header
   ========================================================================== */
/*.logo_title_bar {
    background-color: #cc0b04;

}*/

.logo_title_bar {
    background-color: #003366;
    height: 50pt;
}


.logo_graphic {
        padding-top: 15px;
        padding-left: 11px;
        height: 10px;
        background-color: #003366;/* just to show you the display box */
        text-align: center;
        font-family: arial;
        font-size: 15pt;
}

.logo_graphic img {
    height: 80px;
}

/*.company_name {
	margin-left: 5%;
	border: silver 1pt solid;
        background-color: red; just to show you the display box 
}*/



/* =============================================================================
   Navigation
   ========================================================================== */
   
.header_button {
    width: 15%;
    float: left; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.nav_bar {
    font-family: arial;
    color: #DCBA4F;
            
}



.body_row {
        background-color: #003366;
        padding-left: 1%;
        font-family: 'arial', serif;
        
        
        
        
}

.left_col {
	border: #DCBA4F 2pt solid;
	color: #DCBA4F;
        background-color: #003366 ;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-left: 0.25%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
        
        
}

.student1 {
        border: #DCBA4F 1pt solid;
	    color: #DCBA4F;
        background-color: #003366;
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        text-decoration: underline;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
        
    
}

.teacher1 {
        border: #DCBA4F 1pt solid;
	color: #DCBA4F; 
        background-color: #003366;
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        margin-bottom: 1%;
        text-decoration: underline;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
        
    
}

.student2 {
        border: #DCBA4F 1pt solid;
	color: #DCBA4F;
        background-color: #003366;
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        text-decoration: underline;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
}

.teacher2 {
        border: #DCBA4F 1pt solid;
	color: #DCBA4F;
        background-color: #003366;
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        margin-bottom: 1%;
        text-decoration: underline;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
}

.student3 {
        border: #DCBA4F 1pt solid;
	color: #DCBA4F;
        background-color: #003366;
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        text-decoration: underline;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
}

.right_col {
        color: #DCBA4F;
	border: #DCBA4F 1pt solid;
        background-color: #003366;
        margin-top: 1%;
        margin-bottom: 1%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-family: arial;
        
}

.footer_bar {
	text-align: center;
        background-color: #003366;
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        font-family: arial;
        color: #DCBA4F;
       
        
}

.welcome {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
}

.welcometext {
    text-align: left;
    font-size: 17px;
    font-family: 'Shadows+Into+Light+Two';
}

.email_not {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
}

.email_text {
    text-align: center;
    font-size: 17px;
}

.update {
    text-align: center;
    font-size: 20px;
    color: red;
}

/*.button {
   border-top: 1px solid #000000;
   background: #fab300;
   background: -webkit-gradient(linear, left top, left bottom, from(#a86f0c), to(#fab300));
   background: -webkit-linear-gradient(top, #a86f0c, #fab300);
   background: -moz-linear-gradient(top, #a86f0c, #fab300);
   background: -ms-linear-gradient(top, #a86f0c, #fab300);
   background: -o-linear-gradient(top, #a86f0c, #fab300);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,0) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #080000;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   margin-bottom: 0.5%;
   margin-top: 0.5%;
   
   }
.button:hover {
   border-top-color: #a30a0a;
   background: #a30a0a;
   color: #ccc;
   }
.button:active {
   border-top-color: #c9d0d4;
   background: #c9d0d4;

   }*/

/*.button {
   border-top: 1px solid #cc0b04;
   background: #cc0b04;
   background: -webkit-gradient(linear, left top, left bottom, from(#cc0b04), to(#cc0b04));
   background: -webkit-linear-gradient(top, #cc0b04, #cc0b04);
   background: -moz-linear-gradient(top, #cc0b04, #cc0b04);
   background: -ms-linear-gradient(top, #cc0b04, #cc0b04);
   background: -o-linear-gradient(top, #cc0b04, #cc0b04);
   padding: 5px 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,0) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   margin-bottom: 0.5%;
   margin-top: 0.5%;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #fab300;
   background: #fab300;
   color: white;
   }
.button:active, .current_page {
   border-top-color: #e06f0b;
   background: #e06f0b;
   }*/

.button {
   border: 2pt #DCBA4F solid;
   background: #003366;
  /* background: -webkit-gradient(linear, left top, left bottom, from(silver), to(silver));
   background: -webkit-linear-gradient(top, silver, silver);
   background: -moz-linear-gradient(top, silver, silver);
   background: -ms-linear-gradient(top, silver, silver);
   background: -o-linear-gradient(top, silver, silver); */
   padding: 5px 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,0) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0; */
   color: #DCBA4F;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   margin-bottom: 0.5%;
   margin-top: 0.5%;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #003366;
   background: #DCBA4F;
   color: white;
   }
.button:active, .current_page {
   border-top-color: #3A3A3A;
   background: #3A3A3A;
   }
   
.nav_bar a:link, .nav_bar a:hover, .nav_bar a:active, .nav_bar a:visited {
    text-decoration: none;
   }
   
   body{
       background-color: white;
   }
   
.font-face {
	font-family: cool_font;
	src: url('GeosansLight.ttf');
}
   
/*.nav_bar .current_page {
    background-color: red;  
   }*/


/* dropdown menu */
/*.nav_bar_links li ul {
	position:absolute;
	left:-9999px;
}

.nav_bar_links li ul li {
	background-color: black;
	color:white;
}

.nav_bar_links li:hover ul {
	left:0px;
}

.nav_bar_links li ul li:hover {
	background-color: red;
}*/


/* =============================================================================
   Column Layout
   ========================================================================== */

/*/*.column {
	width: 45%;
	float: left;
	border: black 1pt solid;  just to show you the display box 
	background-color: gray;
}*/
/*
.rounded_corners {
	-moz-border-radius:10px;  Firefox 
	-webkit-border-radius:10px;  Safari and chrome 
	-khtml-border-radius:10px;  Linux browsers 
	border-radius:10px;  CSS3 
	behaviour:url(border-radius.htc);
}*/


/*Add the following code if you want all corners of a div to be rounded*/
/*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;*/

/*Add the folowing code in order to make the top left corner rounded

-moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border: 1px solid;

*/



div.clear {
    clear: both;
    height: 1px;
    overflow: none;
}

div.apptStatsBox,
div.apptStatsBox .apptStats {
    text-align: left;
    overflow: auto;
    padding-bottom: 1px;
    position: relative;
    font-size: small;
}

div.apptStatsBox .apptStats {
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}

div.apptStatsBox h2 {
    text-align: center;
    font-weight: bold;
}
div.apptStatsBox p {
    text-align: center;
    font-size: smaller;
}

.apptStats .day {
    width: 3em;
    float: left;
    text-align: center;
}

.apptStats .colHeader {
   font-weight: bolder;
}

.apptStats .period {
   height: 2ex;
   border-bottom: gray 1pt solid;
}

.apptStats .rowHeaders {
    width: 9em;
    float: left;
    text-align: right;

}


.AppointmentBox {
   position:relative;
   overflow: auto;
   text-align: left;
}

div.AppointmentBox .DataFields {
   position: relative;
   overflow: auto;
   width: 60%;
   float: left;
   margin: none;
   padding: none;
   padding-bottom: 5px;
   margin-bottom: 1ex;
}
.AppointmentBox .DataFields dt {
   width: 60%;
   float: left;
   text-align: left;
   margin-bottom: 0.5ex;
   clear: both;
}

.AppointmentBox .DataFields dd {
   width: 40%;
   float: left;
   margin-bottom: 0.5ex;   
}


.AppointmentBox .OneClickButtons {
   position:relative;
   overflow: auto;
   width: 35%;
   margin-right: 0.9em;
}

.AppointmentBox .OneClickActions {
   margin: 1em;
}

.AppointmentBox .OneClickActions .Button {
   width: auto;
   font-size: 0.9em;
}



.ApptEditForm h3 {
   font-weight: bold;
   font-size: large;
   text-align: center;
   margin-top: 0.2em;
   margin-bottom: 0.2em;   
}
.ApptEditForm h4 {
   font-weight: bold;
   font-size: bigger;
   text-align: center;
   margin-top: 1em;
}
.ApptEditForm .NonFieldErrors,
.ApptEditForm .errorlist {
   color: red;
   font-weight: bold;
   clear:both;
   padding-bottom: 3px;
   text-align: right;
}
.ApptEditForm .Field {
   width: 100%;
   position: relative;
   overflow: auto;
}
.ApptEditForm .Field .FieldLabel {
   display: block;
   width: 48%;
   float: left;
   text-align: right;
   padding-right: 1%;
}
.ApptEditForm .Field .FieldInput {
   display: block;   
   width: 48%;
   float: left;
   font-size: 0.9em;
}
.ApptEditForm .Field select {
   width: auto;
   font-size: 0.9em;
}
