{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8" /> <!-- Use Google Chrome Frame for Internet Explorer 8 or lower Users -->
        <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/1140.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/ie.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="../../static/css/standard.css" />

        <title>Booking</title>

        <!-- In case user doesn't install Google Chrome Frame: -->
        <!--[if lte IE 8]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Google Chrome Frame Install Prompt for Internet Explorer 8 or lower Users -->
        <!--[if lte IE 8]>
          <script type="text/javascript" 
           src="//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
      
          <p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade
            to a different browser</a> or...</p>
          <div id="prompt">
        <!-- if IE without GCF, prompt goes here -->
    </div>

    <script>
        // The conditional ensures that this code will only execute in IE,
        // Therefore we can use the IE-specific attachEvent without worry
        window.attachEvent("onload", function() {
            CFInstall.check({
                mode: "inline", // the default
                node: "prompt"
            });
        });
    </script>
    <![endif]-->

    <!-- Your web page content goes below -->

    <div class="container"> <!-- 1140 layout begins -->

        <div class="row logo_title_bar">
	  {% include "exambookings/logo_title_bar.html" %}	  
        </div>

        <div class="row body_row">
            <div class="sixcol left_col">
                <p>&nbsp;</p>
		{% for booking in bookings_list %}
		<ul>
		  <li>student first name: {{ booking.studentFirstName }}</li>
		  <li>student last name: {{ booking.studentLastName }}</li>    
		  <li>{{ booking.course }}</li>
		  <li>{{ booking.test }}</li>
		  <li>{{ booking.examCenter }}</li>
		  <li>{{ booking.courseTeacher }}</li>
		  <li>{{ booking.workPeriod }}</li>
		  <li><a href="{{ booking.editUrl }}">Edit</a></li>    		  		  
		</ul>
		{% endfor %}
                <p>&nbsp;</p>
            </div>

            <div class="sixcol last right_col">
	      <p style="font-size:24pt;">UPDATE</p>
              <form id="form1" name="form1" method="post" action="">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% include "exambookings/form_hidden_fields.html" %}

		{% for field in form %}
		{% if field.html_name in "studentFirstName studentLastName studentGrade testCourseName testName testDate testDuration testPeriod examCenter" %}
                <p>
                  <label class="signInFieldLabel"
                         for="id_{{ field.html_name }}">{{ field.label }}</label>
		  {{ field|add_class:'signInFieldInput' }}
		  {{ field.errors }}
                </p>
		{% endif %}
		{% endfor %}

		{% if exam_center_view %}
		{% for field in form %}
		{% if field.html_name in "courseTeacher" %}
                <p>
                  <label class="signInFieldLabel"
                         for="id_{{ field.html_name }}">{{ field.label }}</label>
		  {{ field|add_class:'signInFieldInput' }}
		  {{ field.errors }}
                </p>
		{% endif %}
		{% endfor %}
		{% endif %}

		<p class="signInFieldLabel">Accommodations:</p>

		{% for field in form %}
		{% if field.html_name in "extendedTimeAccomodation computerAccomodation scribeAccomodation enlargementsAccomodation readerAccomodation isolationQuietAccomodation" %}
		<p style="clear:both">
                  <label class="signInFieldLabel"
                         for="id_{{ field.html_name }}">{{ field.label }}</label>
		  {{ field|add_class:'signInFieldInput' }}
		  {{ field.errors }}
                </p>
		{% endif %}
		{% endfor %}

		<p class="signInFieldLabel">Allowances:</p>

		{% for field in form %}
		{% if field.html_name in "ellDictionaryAllowance calculatorManipulativesAllowance openBookNotesAllowance computerInternetAllowance englishDictionaryThesaurusAllowance otherAllowances" %}
		<p style="clear:both">
                  <label class="signInFieldLabel"
                         for="id_{{ field.html_name }}">{{ field.label }}</label>
		  {{ field|add_class:'signInFieldInput' }}
		  {{ field.errors }}
                </p>
		{% endif %}
		{% endfor %}		

                <p>&nbsp;</p>
                <p>
                  <div class="submit1">
                    <label for="submit"></label>
                    <input type="submit" name="Submit" id="Submit" value="UPDATE" />

                </p>
                </div>
              </form>
            </div>
        </div>      

        <div class="row footer_bar">
            <div class="twelvecol last">CopyRight 2012 EM Bookit</div>
            <p>&nbsp;</p>
            <li><a href="team_bio.html">Team Bio</a></li>
            <p>&nbsp;</p>
        </div>


    </div> <!-- 1140 layout ends -->
    <!--  
    <div class="column">
      <h1>Content Headline</h1>
      <p>A Paragraph</p>
    </div>
  
    <div class="column rounded_corners">
      <h1>Yet Another</h1>
      <p>Yet another para</p>
    </div>
    <!-- Your web page content goes above -->


    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- fall back loading jQuery via HTTPS in case protocol was file://. This is NOT a local fall back. -->
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"><\/script>')</script>
    <!-- fall back loading Pure.js and jQuery from locally if offline completely -->
    <script>window.jQuery || document.write('<script src="../../static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="../../static/js/plugins.js"></script>
    <script src="../../static/js/script.js"></script>
    <!-- end scripts -->
    <!-- Template based partly on html5boilerplate.com/ -->
</body>
</html>
