<div class="twocol logo_graphic"><b> <font color="#DCBA4F">EM</font><font color="white">HIGH BOOKIT</font></div>

<div class="tencol last nav_bar">
  {% if user_logged_in %}
  <a href="/exambookings/booking"><div class="header_button button">Book an Exam</div></a>
<a href="/exambookings/check_booking"><div class="header_button button">Check Booking</div></a>
 <a href="/exambookings/accounts"><div class="header_button button">Edit Account</div></a>
 <a href="/exambookings/signout"><div class="header_button button">Sign Out</div></a>
  
  <div class="twocol" style="padding-top: 1.5ex; padding-left: 2.0ex;">
    {% if user_name_verbose %}
    Hi {{ user_name_verbose }}
    {% endif %}
    &nbsp;
  </div>
  {% else %}
  <a href="/exambookings/home"><div class="threecol button">Home</div></a>
  <a href="/exambookings/signup"><div class="threecol button">Sign Up</div></a>
  <div class="sixcol last" style="padding-top: 1.5ex;">
    {% if user_name_verbose %}
    Hi {{ user_name_verbose }}
    {% endif %}
    &nbsp;
  </div>
  {% endif %}
</div>
